*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Declaracion de variables css */
:root{
    --border: 1px solid white; /*Bordes guia*/
    --border2: 1px solid black; /*Bordes guia*/
    --color-pink: rgb(253, 181, 193);
    --color-pink-hover: rgb(245, 121, 142);
    --color-pink-dark: rgb(255, 129, 150);
    --color-pink-dark-hover: rgb(248, 86, 113);
    --color-pink-transparent: rgba(231, 162, 173, 0.5);
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-pink);
    overflow: hidden;
}

header{
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw 0 5vw;
    overflow: hidden;
}

header > h1{
    color: #ffff;
    font-size: 2.3vw;
    transition: transform .5s ease,
    opacity .5s ease; 
}

.logo--down{
    opacity: 0;
    transform: translate(0,25px);
}

header > ul{
    width: 40%;
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

header > ul > li{
    list-style-type: none;
    opacity: 1;
    transition: transform .5s ease,
                opacity .5s ease; 
}

header > ul > li > a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.3vw;
    font-weight: bold;
    transition: color .5s ease;
}

header > ul > li > a:hover{
    color: var(--color-pink-hover);
}

.link--down{
    opacity: 0;
    transform: translate(0,25px);
}

.menu-control{
    display: none;
}

.menu-movil{
    display: none;
}

main{
    width: 100vw;
    height: 88vh;
}

.grid-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    overflow: hidden;
}

.grid-item1{
    padding-left: 5vw;
}

.grid-item2{
    position: relative;
}

.grid-item__titulo{
    color: white;
    margin-top: 6vh;
    margin-bottom: 2vh;
    font-size: 7vw;
    transition: transform .5s ease,
    opacity .5s ease; 
}

.grid-item__titulo--down{
    opacity: 0;
    transform: translate(0,25px);
}

.grid-item__parrafo{
    color: white;
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-size: 1.8vw;
    transition: transform .5s ease,
    opacity .5s ease; 
}

.grid-item__parrafo--down{
    opacity: 0;
    transform: translate(0,25px);
}

.grid-item__btn{
    width: 32%;
    height: 8%;
    border-radius: 5px;
    border: none;
    background-color: var(--color-pink-dark);
    color: white;
    font-size: 1.2vw;
    font-weight: bold;
    margin-top: 2vh;
    cursor: pointer;
    transition: background-color .5s ease,
    transform .5s ease,
    opacity .5s ease;
}

.grid-item__btn:hover{
    background-color: var(--color-pink-dark-hover);
}

.grid-item__btn--down{
    opacity: 0;
    transform: translate(0,25px);
}

.grid-item__img{
    width: 85%;
    position: absolute;
    top: 4%;
    left: 2%;
    z-index: 1;
    transition: transform .5s ease,
    opacity .5s ease;
}

.grid-item__img--down{
    opacity: 0;
    transform: translate(0,25px);
}

/*-------------------------------------Responsive--------------------------------------------*/

/*Celulares*/
@media only screen and (min-width: 250px) and (max-width: 630px){

    header{
        height: 9vh;
    }

    header > h1{
        font-size: 5vw;
    }

    header > ul{
        display: none;
    }

    .menu-control{
        width: 11%;
        height: 9vw;
        overflow: hidden;
        display: block;
    }

    .menu-control__bar{
        width: 80%;
        height: 12%;
        margin: 13% 0 0 10%;
        background-color: white;
    }

    .menu-movil{
        width: 65%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        display: block;
        background-color: var(--color-pink-transparent);
        backdrop-filter: blur(12px);
        overflow: hidden;
        transition: transform .5s ease;
        display: none;
    }

    .menu-movil--hide{
        transform: translate(100%,0);
    }

    .menu-movil__cross{
        width: 11%;
        height: 7.5vw;
        position: relative;
        overflow: hidden;
        margin-top: 8%;
        margin-left: 75%;
    }

    .cross__bar{
        width: 90%;
        height: 11%;
        background-color: white;
        position: absolute;
        left: 5%;
    }

    #bar1{
        top: 39%;
        transform: rotate(45deg);
    }

    #bar2{
        top: 40%;
        transform: rotate(-45deg);
    }

    .menu-movil > ul{
        width: 60%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 6% 0 0 6%;
    }

    .menu-movil > ul > li{
        list-style-type: none;
    }

    .menu-movil > ul > li > a{
        color: white;
        text-decoration: none;
        cursor: pointer;
        font-size: 5vw;
        font-weight: bold;
    }

    main{
        width: 100vw;
        height: 91vh;
    }

    .grid-container{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 45% 55%;
        overflow: hidden;
    }

    .grid-item1{
        padding-left: 0;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    
    .grid-item2{
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .grid-item__titulo{
        margin-top: 4vh;
        margin-left: 5vw;
        margin-bottom: 2vh;
        font-size: 14vw;
    }

    .grid-item__parrafo{
        margin-top: 4vh;
        margin-left: 5vw;
        margin-bottom: 4vh;
        font-size: 5vw;
    }

    .grid-item__btn{
        width: 35%;
        height: 12%;
        font-size: 4vw;
        margin-top: 2vh;
        margin-left: 5vw;
    }

    .grid-item__img{
        top: 4%;
        left: 7.5%;
    }

}